{% extends 'base.html' %}
{% block title %}Quiz abgeschlossen{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h2>🎉 Ende dieser Übung</h2>
    <p><strong>Fach: </strong> {{ topic }}<br>
        <strong>Thema: </strong> {{ goal }}</p>
    <p class="lead">Du hast {{ correct }} von {{ total }} Aufgaben korrekt bearbeitet.</p>

    <p>Gesamt-Score: {{ score_sum }}</p>
    <p>Durchschnittlicher Score pro Aufgabe: {{ avg_score }}</p>

    <a href="{% url 'kurs_view' %}" class="btn btn-primary">Zur Kursübersicht</a>
</div>
{% endblock %}
