{% extends 'base.html' %}
{% block title %}Quiz abgeschlossen{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h2>🎉 Ende dieser Übung</h2>
    <p class="lead">Du hast {{ correct }} von {{ total }} Aufgaben korrekt bearbeitet.</p>

    <p>Gesamt-Score: {{ score_sum }}</p>
    <p>Durchschnittlicher Score pro Aufgabe: {{ avg_score }}</p>

    {% if konzept_id %}
    <a href="{% url 'konzept' konzept_id %}" class="btn btn-primary">Zurück</a>
    {% else %}
    <a href="{% url 'kurs' %}" class="btn btn-outline-secondary">Zum Kurs</a>
    {% endif %}

</div>
{% endblock %}
