{# templates/kurs/konzept.html #}
{% extends "base.html" %}
{% block title %}Konzept: {{ konzept.name }}{% endblock %}

{% block content %}
  <h2>
    {{ konzept.name }}
    <span class="badge bg-secondary">
    {% if konzept.scores is not None %}
      {{ konzept.scores }}
    {% else %}
      0
    {% endif %}
    </span>
  </h2>

  {% if konzept.image %}
    <img src="{{ konzept.image.url }}" alt="{{ konzept.name }}" width="150" class="img-fluid" loading="lazy">
  {% endif %}

  {% if konzept.funny %}
    <p class="mt-2">{{ konzept.funny }}</p>
  {% endif %}

  <div class="mt-3">{{ konzept.definition|default_if_none:""|safe }}</div>
  </br>

  <div class="mt-3"> {{ konzept.example|default_if_none:""|safe }}  </div>

  <div class="d-grid gap-2 mt-4">

    {% if has_quiz %}
      <form method="get" action="{% url 'quiz_view' %}">
        <button class="btn btn-success" type="submit">Quiz starten</button>
      </form>
    {% else %}
      <p>Noch keine Übungen verfügbar</p>
    {% endif %}

    {% if konzept.video_url and 'youtu.be/' in konzept.video_url %}
      {% with vid=konzept.video_url|cut:'https://youtu.be/'|cut:'http://youtu.be/' %}
        <div class="ratio ratio-16x9 mt-3">
          <iframe src="https://www.youtube.com/embed/{{ vid|cut:'?si=' }}" title="YouTube video" allowfullscreen></iframe>
        </div>
      {% endwith %}
    {% endif %}

  </div>

  <a class="btn btn-outline-secondary mt-3" href="{% url 'kurs' %}">Zum Kurs</a>

{% endblock %}
