{# templates/kurs.html #}
{% extends 'base.html' %}
{% block title %}Kurs{% endblock %}

{% block content %}
  <h2>{{ kurs.fach }} – {{ kurs.kurs }}</h2>

  {% if kurs.image %}
    <img src="{{ kurs.image.url }}" alt="{{ kurs.fach }} {{ kurs.kurs }}" width="150" class="img-fluid" loading="lazy">
  {% endif %}

  <p class="mt-3">{{ kurs.intro|default:"Keine Beschreibung." }}</p>

  <h2 class="mt-4">Inhalte im Kurs</h2>


  <div class="d-flex flex-wrap gap-2 py-2">
    {% for konzept in konzepte %}
      <a class="btn btn-primary position-relative text-nowrap pe-4"
        href="{% url 'konzept' konzept.id %}">
        {{ konzept.name }}
        <span class="position-absolute top-0 end-0 translate-middle-y badge rounded-pill
                    {% if konzept.scores %}bg-success{% else %}bg-secondary{% endif %} mt-1 me-1">
          {{ konzept.scores|default:0 }}
          <span class="visually-hidden">Score</span>
        </span>
      </a>
    {% endfor %}
  </div>



  <a class="btn btn-outline-secondary mt-3" href="{% url 'kurswahl' %}">Kurs wechseln</a>
{% endblock %}

